# geometry files
*.stl
*.igs
*.msh
*.vtk
*.iv

# MAF files
.msf

# MATLAB
*.asv
Miranda2010_*ACS.m

# folders
__*
/_old
#test_geometries/
OpenSim_models/
docs/*.html
docs/*.m

*.zip

# openSim files
*.log
*.osim
# used for checking intermediate steps of modelling
*.xml

#vim files
*.*~

