# geometry files
*.stl
*.igs
*.msh
*.vtk
*.iv

# MAF files
.msf

# MATLAB
*.asv

# folders
__*
/_old
test_geometries/
docs/
PatellaACS

*.zip

# openSim files
*.log
*.osim
# used for checking intermediate steps of modelling
*.xml

#vim files
*.*~

