body {
  font-family: 'Arvo', serif;
  background-color: #2E3031;
}

.otoColor {
  background-color: #f4c000;
}

a {
  color: #FFF;
  text-decoration: underline;
}

a:hover {
  color: #f4c000;
}

.home {
  position: fixed;
  z-index: 1001;
  margin-left: 10px;
  margin-top: 10px;
}

.home a {
  color: #2E3031;
}

.home a:hover {
  color: #af8900;
}